@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
/* @import './calendar.css'; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.drawer-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.drawer-bottom .drawer-side {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transition: transform 0.3s ease;
  will-change: transform;
  overflow-y: auto;
}

.drawer-bottom .drawer-toggle:checked ~ .drawer-side {
  transform: translateY(0);
}

.drawer-bottom .drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  pointer-events: none;
  will-change: opacity;
}

.drawer-bottom .drawer-toggle:checked ~ .drawer-overlay {
  opacity: 1;
  pointer-events: auto;
}

.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: 'Pretendard Variable';
  font-weight: bold;
  line-height: 2.125em;
}
.react-calendar__navigation {
  font-weight: normal;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
} */
.react-calendar__tile {
  font-weight: normal;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}

#searchbar > #searchbar-input {
  transition: width 0.4s linear;
  width: 200px;
  @media (min-width: 640px) {
    width: 300px;
  }
}

#searchbar-hidden {
  /* transition: visibility 0.5s linear; */
  visibility: hidden;
}

#searchbar-hidden > #searchbar-input-hidden {
  /* transition: width 0.2s linear; */
  width: 0px;
}

#btn-search {
  transition: visibility 0.35s linear;
  visibility: visible;
}

#btn-search-hidden {
  transition: visibility 0.35s linear;
  width: 0px;
  visibility: hidden;
}

.navbar-center {
  transition: visibility 0.3s linear;
  width: 150px;
  visibility: visible;
}

.navbar-center-hidden {
  visibility: collapse;
}

.rsis-container {
  width: 360px;
  height: 250px;

  @media (min-width: 640px) {
    width: 512px;
    height: 300px;
  }
}

.rsis-image {
  width: 360px;
  height: 250px;
  background-size: contain !important;

  @media (min-width: 640px) {
    width: 512px;
    height: 300px;
  }
}
